.radio_box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
  }
  input:focus-visible + .label {
    outline: 1px solid #ababab;
  }
  input:checked + .label {
    .circle {
      border: 1px solid #2ea448;
      &::before {
        background-color: #2ea448;
      }
    }
  }
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #a6b1bc;
  border-radius: 0.75rem;
  margin-right: 0.625em;
  &::before {
    content: "";
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.5625rem;
  }
}

.label_text {
  font-weight: 500;
  line-height: 1.375rem;
}
