.content {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title {
  text-align: center;
  line-height: 2.5rem;
  font-size: 2.125rem;
  margin-bottom: 1rem;
}
.form {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  flex-direction: column;
}
