.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  cursor: pointer;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  width: 100%;
  transition: background-color 0.2s ease-in;
  font-size: 1.125rem;
  font-weight: 600;
  &:focus {
    outline: 1px solid #ababab;
  }
}
.primary {
  background-color: #2ea448;
  color: #fff;
  &:hover {
    background-color: #258b3c;
  }
}
.ghost {
  color: #333333;
  background-color: transparent;
}
