.content {
  padding: 3rem 1rem;
}
.title {
  text-align: center;
  line-height: 2.5rem;
  font-size: 2.125rem;
  margin-bottom: 1rem;
}
.account_type {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2rem;
}

.radio {
  margin-bottom: 0.75rem;
}
.personal_data {
  margin-bottom: 2rem;
}
