// .edit {
// }

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.avatar_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.1rem;
}

.footer {
  display: flex;
  margin-bottom: 2rem;
}
