.input_box {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: text;
  width: 100%;
  margin-bottom: 1.25rem;
  input {
    flex: 1 1 auto;
    outline: none;
    padding: 0.92rem 0.5rem 0.92rem 1.1rem;
    z-index: 2;
    background: transparent;
    line-height: 1rem;
    &::placeholder {
      color: #ababab;
    }
  }
  input:focus + fieldset {
    border-color: #2ea448;
  }
  &.error {
    fieldset {
      border-color: red;
    }
    .legend {
      color: red;
    }
  }
}

input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125rem;
}

.error_msg {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  bottom: -0.9rem;
}

.icon_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 0.5;
  }
  &:focus-visible {
    outline: 1px solid #ababab;
  }
}

.fieldset {
  border: 1px solid #c7d5e4;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  top: -5px;
  right: 0;
  bottom: 0;
}
.legend {
  padding: 0px 0.25rem;
  font-size: 0.81rem;
  line-height: 0.875rem;
  color: #525252;
}
