.payment {
  background-color: #2ea448;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.error {
  font-size: 1rem;
  text-align: center;
  color: red;
  text-transform: uppercase;
}

.inside {
  margin: -2rem -1rem -5rem -1rem;
  padding: 2rem 1rem 5rem 1rem;
}

.body {
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  flex: 1 1 auto;
}

.footer {
  margin: 1.625rem 0 1.56rem 0;
  text-align: center;
  a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }
}

.success {
  text-align: center;
  span {
    color: #2ea448;
    font-size: 1.2rem;
  }
}
