.filter_box {
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
  }
  input:focus-visible + .label {
    outline: 1px solid #ababab;
  }
  input:checked + .label {
    color: white;
    background-color: #2ea448;
  }
}
.label {
  cursor: pointer;
  background: #f3f3f5;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.625rem;
  border-radius: 8px;
}
